// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Style the top navigation bar */

@import "materialize";
@import 'selectize';
@import 'selectize.bootstrap3';

.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
    margin: 0px;
}
body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.search-wrapper{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  align-items: center;
}

input#search{
  background-color: #fff;
  pading:5px;
  margin: 0;
}

.rowitem.hidden{
  display: none;
}

i.material-icons{
  font-size: 3rem;
  cursor: pointer;
  background: white;
  height: 100%;
  transition: 0.5s;
}

div.search-icon-container{
  overflow: hidden;
  margin-right: 10px;
}

i.material-icons:hover{
  transform: scale(1.15);
}

form#search-form {
  width: 100%;
  position: relative;
}

button.close {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  border: none;
  background: transparent;
  text-align: center;
  cursor: pointer;
}

#search:not(:valid) ~ .close {
  display: none;
}

/* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: #bd8f3a; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

  /* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

  /* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}

  /* Ensure proper sizing */
* {
    box-sizing: border-box;
}

#input-tags-selectized{
  width: 4px;
  opacity: 1;
  position: relative;
  left: 0px;
  padding: 0px;
}

.selectize-dropdown.multi.demo-default{
  display: none;
  width: 520px;
  // top: 36px;
  left: 0px;
  visibility: visible;
  padding: 0px;
}

.selectize{
  background-color: #f1f1f1;
}

.content_conteiner {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.content {

    flex-grow : 1;
}

.row_content{
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      overflow: hidden;
}

  /* Column container */
.row {
    height: 95vh;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.rowitem{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin: 0px;
    text-align: left;
    box-shadow: 0 3px 3px #dcdcdc;
    margin-bottom: 10px;
    transition: .25s;
    background-color: #f9f9f9; /* Grey background color */
}

.rowitem:hover{
  background-color: #e1e0e0;
  cursor: pointer;
  transform: scale(1.015);
}

.rowitem:hover li{
  color: #555; 
}

.rowitem h1{
  margin: 0px;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 700;
  color: #7dae12;
}

ul.store{
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #555;
  margin-bottom: 0px;
}

  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
.side_bar {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 15px;
}

.side_column_content{
  flex: 25%; /* Set the width of the sidebar */
  margin-top: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

  /* Main column */
.main {
    flex: 75%; /* Set the width of the main content */
    background-color: white; /* White background color */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

#mapid {
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;

}

.selected-store{
  background-color: gray;
}

.selected-store li{
  color: white;
}
