.side_column_content
  .selectize_div
    .selectize-control.demo-default.multi
      .selectize-input.items.not-full.has-options.has-items
        .item{"data-value" => "awesome"} awesome
        %input#input-tags-selectized.selectize{:autocomplete => "off", :tabindex => "", :type => "text"}/
    .selectize-dropdown.multi.demo-default
      .selectize-dropdown-content
        .option{"data-selectable" => "", "data-value" => "neat"} neat

= render 'form'
